<div class="top">
    <%= link_to "Home", root_path %>
    <% if user_signed_in? %>
        <%= link_to "Edit Profile", edit_user_registration_path %>
        <%= link_to "My Blogs", blogs_view_path %>
        <%= link_to "Create a new Blog", new_blog_path %>
        <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: 'btn' %>
    <% else %>
        <%= link_to "Sign Up", new_user_registration_path %>
        <%= link_to "Log In", new_user_session_path %>
    <% end %>
</div>
<div class ="bottom">
    <%= form_tag request.original_url, :method => "get" do %>
        <%= label_tag(:search, "Type a key word: ") %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag("Search", :name=>nil, :class => "search-btn")%>
    <% end %>
</div>